{% extends 'home/layout.html.twig' %}

{% block page_contents %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="ws-content container">
            {% if workstations | length > 1 %}
                {{ include('components/ws-list.html.twig', {workstations: workstations}) }}
            {% elseif workstations | length == 1 %}
                {{ include('components/ws-entry.html.twig', {workstation: workstations | first}) }}
            {% else %}
                <div class="terminal-alert terminal-alert-error">
                    {{ error_message() }}
                </div>
            {% endif %}
        </div>
        <template id="dt-selector">
            <div class="destroy"></div>
            <div class="outside">
                <form data-template="/state/<%= action %>/<%= id %>" data-template_dst="action" method="post">
                    <div class="inside">
                        <button class="btn btn-primary" type="submit" data-template="<%= action %> Now"></button>
                        <hr/>
                        <label for="dt" data-template="<%= action %> at"></label>
                        <input id="dt" min="" name="dt" type="datetime-local">
                        <button class="btn btn-secondary" type="submit" data-template="<%= action %> Schedule"></button>
                    </div>
                </form>
            </div>
            <div class="destroy"></div>
        </template>
    {% endif %}
{% endblock %}