{% extends 'home/layout.html.twig' %}

{% block page_contents %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <div class="ws-content">
            <table>
                {% for workstation in workstations %}
                    <tr>
                        <th>{{ workstation.hostname }}</th>
                        <th>{{ workstation.group.label }}</th>
                    </tr>
                {% endfor %}
            </table>
            <div class="typewriter" data-tpl="#ws-tpl" data-pause="150" data-toggle=".ws-actions, .Typewriter__cursor, hr">
            </div>
            <template id="ws-tpl">
                <div><strong class="user">User</strong> {{ app.user.name }}<br/></div>
                <div><strong class="email">Email</strong> {{ app.user.email }}<br/></div>                
                <div><strong class="machine">Machine</strong> dev031.wen.travelfusuion.com</div>
            </template>
            <div class="ws-actions hidden toggling">
                <button class="btn btn-ghost">
                    <i class="lar la-moon la-lg"></i> Suspend
                </button>
                <button class="btn btn-ghost btn-error" disabled>
                    <i class="lar la-sun la-lg"></i> Wake Up
                </button>
            </div>

        </div>

    {% endif %}
{% endblock %}