{% extends 'home/layout.html.twig' %}

{% block page_contents %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="ws-content container">
            {% if workstations | length > 1 %}
                {{ include('components/ws-list.html.twig', {workstations: workstations}) }}
            {% elseif workstations | length == 1 %}
                {{ include('components/ws-entry.html.twig', {workstation: workstations | first}) }}
            {% else %}
                <div class="terminal-alert terminal-alert-error">
                    {{ error_message() }}
                </div>
            {% endif %}
        </div>
        {% include('components/schdule.html.twig') %}
    {% endif %}
{% endblock %}