{% apply spaceless %}
    {% if state.trigger == 0 %}
        <button class="btn btn-ghost no-border btn-primary">
            <i class="material-icons-outlined">battery_saver</i>
            <span>Suspend</span>
        </button>
    {% else %}
        <button class="btn  btn-ghost no-border btn-primary">
            <i class="material-icons-outlined">bolt</i>
            <span>Resume</span>
        </button>
    {% endif %}
{% endapply %}