<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PowerMan!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="{{ asset('/css/normalize.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/css/terminal.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/css/base.css') }}" rel="stylesheet"/>
    <link rel="preconnect" href="//fonts.googleapis.com">
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
    <link
            href="//fonts.googleapis.com/css2?family=VT323&family=Indie+Flower&family=Share+Tech+Mono&display=swap"
            rel="stylesheet" crossorigin>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body class="terminal">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include 'navbar.html.twig'  %}
{% endif %}
<div class="container full">
    {% block content %}
    {% endblock %}
    {% include 'components/clock.html.twig'  %}
</div>
</body>
</html>
