{% extends 'base.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('home') }}
    {% endblock %}
{% block content %}
    <div class="ws-background">
        {% block page_contents %}{% endblock %}
    </div>
    {% include 'components/clock.html.twig'  %}
{% endblock %}