@mixin gradient-hero($direction, $color, $base: 1) {
  $list: ();
  $breaks: -1 0%, -0.2 25%,  -0.1 50%, -0.1 66%,  -0.2 75%,  -1 100%;
  @each $weight, $break in $breaks {
    $list: append($list, adjust-color($color, $alpha: $weight * $base) $break,  $separator: comma);
  }
  background-image: linear-gradient(to $direction, $list);
}


@mixin gradient-row($color, $base: 1) {
  $list: ();
  $breaks: 0 0%, -0.2 25%,  -0.1 50%, -0.1 66%,  -0.2 75%,  0 100%;
  @each $weight, $break in $breaks {
    $list: append($list, adjust-color($color, $alpha: $weight * $base) $break,  $separator: comma);
  }
  background-image: linear-gradient(to left, $list);
}

@mixin gradient-nav($color) {
  $list: ();
  $breaks: 1 0%, 0.85 10%, 0.75 30%, 0.7 70%, 0 100%;
  @each $opa, $break in $breaks {
    $list: append($list, change-color($color, $alpha: $opa) $break,  $separator: comma);
  }
  background-image: linear-gradient(to bottom, $list);
}

@mixin gradient-block($color) {
  background-image: linear-gradient(to bottom right,lighten($color, 30%),$color);
}