{% extends 'login/layout.html.twig' %}
{% block page_contents %}
    <div class="content-login fullscreen">
        <div class="stripe-line">
            <div class="login-form">
                <div class="tf-logo uses-animator p-2"
                     data-animations="animate__bounce,animate__pulse,animate__rubberBand,animate__wobble"
                     data-delay="10">
                    <img src="{{ asset('images/tf-logo.svg') }}">
                </div>
                <div>
                    <a href="{{ path('connect_google') }}" class="button" role="button">
                        <span class="material-icons-outlined">login</span>
                        <span>Login</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}