{% extends 'login/layout.html.twig' %}

{% block page_contents %}
    <style type="text/css">
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1em;
            height: 100%;
        }

        .content button {
            border: none;
        }

        .content button:hover {
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        }

        .content .reminder {
            position: absolute;
            z-index: 10;
            font-weight: bold;
            top: -2em;
            font-variant: proportional-width;
            font-size: 1.5em;
            opacity: 0;
            animation-fill-mode: both;
        }

        button .image {
            background-image: url({{ asset('/images/logo.webp') }});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 60vh;
            width: 60vh;
        }
    </style>
    <div class="content">
        <button class="anim-shadow">
            <div class="reminder anim-reveal">
                <div class="anim-bounce2">
                    login required
                </div>
            </div>
            <a href="{{ path('connect_google') }}">
                <div class="image"></div>
            </a>
        </button>
    </div>

{% endblock %}