@use "sass:meta";
@import "../colors";
@import "../mixins/gradient";
@import "open-props/src/props.colors-hsl.css";


.stripe-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  padding: 2em;
  width: 100%;
  @include gradient-hero(left, #000);
}
