@import "../mixins/color-mode";

$color-mode-type: data;


.theme-switch {
  cursor: pointer;
}
@include color-mode(dark) {
  .theme-switch {
    &::before {
      content: "\e51c";
    }
  }
}
@include color-mode(light) {
  .theme-switch {
    &::before {
      content: "\e518";
    }
  }
}