@import "../colors";
@import "../mixins/breakpoints";
@import "../mixins/gradient";
@import "../mixins/color-mode";

$color-mode-type: data;

.ws-entry {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;



  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
    @include gradient-hero(left, $body-bg);
    table {
      width: auto;
      td:first-child {
        padding-left: 1em;
      }
      td:last-child {
        padding-right: 1em;
      }
      tr:hover {
        td {
          @include gradient-row($header-bg);
        }


      }
      .col {
        width: 100%;
      }
      .label {
        text-align: right;
        strong {
          color: var(--color-tertiary);
        }
      }
      .value {
      }
      //button {
      //  @include button-outline-variant($info);
      //}
    }
  }
}


@include color-mode(light) {
  .ws-entry {
    .hero {
      @include gradient-hero(left, $table-bg-light);
      table {
        tr:hover {
          td {
            @include gradient-row($header-bg-light)
          }
        }
      }
    }
  }
}