@import "../colors";
@import "../mixins/gradient";
@import "../mixins/breakpoints";
@import "../mixins/color-mode";
@import "open-props/src/props.shadows.css";

$color-mode-type: data;


table.ws-list {
  font-variant: small-caps;
  text-transform: lowercase;
  box-shadow: var(--shadow-2);

  th {
    font-size: 1.5em;
    padding: 0.5em 1em;
    @include gradient-row($header-bg);
  }

  th:first-of-type {
    border-top-left-radius: 2rem !important
  }

  th:last-of-type {
    border-top-right-radius: 2rem !important
  }

  tbody {
    tr:last-of-type {
      td:first-of-type {
        border-bottom-left-radius: 2rem;
      }

      td:last-of-type {
        border-bottom-right-radius: 2rem;
      }
    }
    tr:hover {
      td {
        @include gradient-row($header-bg)
      }
    }
  }

  td {
    @include gradient-row($table-bg);
    padding: 0.5em 1em;

    .col {
      display: flex;
      column-gap: 0.3em;
      flex-direction: column;
      align-items: flex-start;
      color: var(--body-color);
      .value {
        font-family: VT323, serif;
      }
    }

    div.table-row {
      display: flex;
      width: 100%;
      flex-direction: column;
      column-gap: 0.3em;
      justify-content: center;
      >div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }


      &.sub {
        font-size: 0.8em;
      }
    }

    .label {
      white-space: nowrap;
    }
  }

  @include media-breakpoint-down(md) {
    border: none;
    box-shadow: none;
    font-size: 1.2em;
    display: table;
    table-layout: fixed;

    thead {
      display: none;
    }

    tbody {

      tr:last-of-type {
        td:first-of-type {
          border-bottom-left-radius: unset;
        }

        td:last-of-type {
          border-bottom-right-radius:unset;
        }
      }

      tr {



        td:first-child {
          padding-left: 10px;
        }

        td:last-child {
          border-bottom: 1em solid change-color($color-quinary, $alpha: 0.7);
        }

        td:before {
          content: attr(data-label);
          text-transform: uppercase;
          font-weight: bold;
          color: var(--color-tertiary);
          width: 6em;
          display: flex;
          justify-content: end;
          padding-right: 1em;
          align-self: baseline;
        }

        td {
          display: flex;
          align-items: center;
          text-align: right;
          padding: 5px 10px !important;
          border: none;
          box-shadow: 0 1px 1px rgba(0, 0, 0, .3);

          .col {
            align-items: flex-end;
            justify-content: center;
          }
        }
      }
    }
  }
}

@include color-mode(light) {
  table.ws-list {
    th {
      @include gradient-row($header-bg-light);
    }
    td {
      @include gradient-row($table-bg-light);
    }
    tbody {
      tr:hover {
        td {
          @include gradient-row($header-bg-light);
        }
      }
    }

  }
}

