@import "milligram/src/_Color";
@import "mixins/color-mode";

//
//$blue: #559DCC;
//$indigo: #003c72;
//$purple: #6f42c1;
//$pink: #5c92dd;
//$red: #a45e67;
//$orange: #d3ac7d;
//$complementary: #ffc107;
//$green: #72a67c;
//$teal: #20c997;
//$cyan: #17a2b8;
//$white: #fff;
$primary-100: #bbe5f5;
$primary-200: #94d4ee;
$primary-300: #75c3e5;
$primary-400: #65b7e0;
$primary-500: #5caada;
$primary-600: #559ccc;
$primary-700: #4c8ab8;
$primary-800: #4679a4;
$primary-900: #395a80;
//$complementary-100: #fbf4cf;
//$complementary-200: #f8edb1;
//$complementary-300: #f6e797;
//$complementary-400: #f4e285;
//$complementary-500: #f1dc77;
//$complementary-600: #eccd72;
//$complementary-700: #e4b86a;
//$complementary-800: #dba462;
//$complementary-900: #cc8555;
//$secondary-100: #9fe0d9;
//$secondary-200: #9fe0d9;
//$secondary-300: #00b6a6;
//$secondary-400: #00a592;
//$secondary-500: #00947f;
//$secondary-600: #008772;
//$secondary-700: #007762;
//$secondary-800: #006753;
//$secondary-900: #004b36;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$white: #FFF;
//$grays: (100: $gray-100, 200: $gray-200, 300: $gray-300, 400: $gray-400, 500: $gray-500, 600: $gray-600, 700: $gray-700, 800: $gray-800, 900: $gray-900);
//$theme-colors: (
//  primary: $primary-600,
//  secondary: $primary-300,
//  success: $green,
//  info: $cyan,
//  warning: $complementary-400,
//  danger: $red,
//  light: $gray-100,
//  dark: $gray-800
//);
//$theme-color-interval: 8%;

$theme: dark;


$body-bg: $gray-900;
$table-bg: $gray-800;
$body-color: $gray-100;
$color-initial: $black;
$color-primary: $primary-600;
$color-secondary: $gray-300;
$color-tertiary: $gray-600;
$color-quaternary: lighten($gray-600, 5%);
$color-quinary: lighten($gray-700, 5%);

$body-bg-light: $gray-600;
$table-bg-light: $gray-400;
$body-color-light: $black;
$color-initial-light: #fff;
$color-primary-light: $primary-600;
$color-secondary-light: #606c76;
$color-tertiary-light: #f4f5f6;
$color-quaternary-light: #d1d1d1;
$color-quinary-light: #e1e1e1;


:root[data-bs-theme="dark"] {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --body-bg: #{$body-bg};
  --table-bg: #{$table-bg};
  --body-color: #{$body-color};
  --color-initial: #{$color-initial};
  --color-tertiary: #{$color-tertiary};
  --color-quaternary: #{$color-quaternary};
  --color-quinary: #{$color-quinary};
  --body-fontfamily: Share Tech Mono, monospace, serif !important;
}

:root[data-bs-theme="light"] {
  --color-primary: #{$color-primary-light};
  --color-secondary: #{$color-secondary-light};
  --body-bg: #{$body-bg-light};
  --table-bg: #{$table-bg-light};
  --body-color: #{$body-color-light};
  --color-initial: #{$color-initial-light};
  --color-tertiary: #{$color-tertiary-light};
  --color-quaternary: #{$color-quaternary-light};
  --color-quinary: #{$color-quinary-light};
  --body-fontfamily: Share Tech Mono, monospace, serif !important;
}