@import "milligram/src/_Color";


$blue: #559DCC;
$indigo: #003c72;
$purple: #6f42c1;
$pink: #5c92dd;
$red: #a45e67;
$orange: #d3ac7d;
$yellow: #ffc107;
$green: #72a67c;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$grays: (100: $gray-100, 200: $gray-200, 300: $gray-300, 400: $gray-400, 500: $gray-500, 600: $gray-600, 700: $gray-700, 800: $gray-800, 900: $gray-900);
$theme-colors: (
  primary: $blue,
  secondary: $gray-600,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);
$colors: ("blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800);
$theme-color-interval: 8%;
$body-bg: $gray-900;

$color-initial: $black;
$color-primary: $blue;
$color-secondary: $gray-600;
$color-tertiary: $gray-600;
$color-quaternary: red;
$color-quinary: lighten($gray-700, 5%);

:root {
  --color-primary: $color-primary;
  --color-secondary: $color-secondary;
  --color-text-on-primary: map-get($theme-colors, dark);
}