.ws-background
  position: absolute
  width: 100%
  height: 100%
  background-size: cover
  align-items: center
  justify-content: center
  background-repeat: no-repeat
  background-blend-mode: darken
  background-color: rgba(0, 0, 0, 0.6)
  display: flex

  .ws-content
    display: flex
    flex-direction: column
    row-gap: 1em
    justify-content: center
    align-items: center
    align-self: baseline
    padding: 1em

    .typewriter
      align-self: flex-start
      text-align: left
      white-space: break-spaces
      word-break: break-all


    strong
      font-variant: small-caps
      text-transform: lowercase
      color: var(--md-sys-color-on-surface-variant)
      display: inline-flex
      flex-direction: row
      align-items: center
      width: 5em
      text-align: right
      justify-content: end
      column-gap: 0.2em

      &::before
        font-family: 'Material Icons', monospace

      &.machine::before
        content: "\e30a"
      &.group::before
        content: "\f233"
      &.state::before
        content: "\e63c"
      &.action::before
        content: "\e90e"

    .ws-actions
      justify-content: space-between
      display: flex
      flex-direction: row
      column-gap: 1em


      button
        border-radius: 0.2em

        &:hover
          filter: drop-shadow(0 0 0.75rem var(--md-sys-color-on-background))


.clock
  position: absolute
  left: 0
  bottom: 1em
  >div
    display: flex
    flex-direction: row
    align-items: center

    font-family: VT323, monospace
    color: var(--md-ref-palette-neutral-variant50)
    transition: all 500ms ease-in-out
    &:hover
      color: var(--font-color)
      transform: scale(1.6)
      cursor: pointer
    .hour
      font-weight: bold
      &::after
        content: ":"
    .seconds
      font-size: 0.8em
    .minutes:after
      content: ":"

