.content
  display: flex
  flex-direction: column
  width: 60vw
  justify-content: center
  align-items: center
  row-gap: 1em

  .tf-logo
    height: 5em
    position: relative
    svg
      height: 100%

  button
    font-variant: small-caps
