.content
  display: flex
  flex-direction: column
  width: 100%
  justify-content: center
  align-items: center
  row-gap: 3em

  .tf-logo
    height: auto
    width: 50vw
    max-width: 500px
    position: relative
    svg
      height: 100%

  button
    font-variant: small-caps

@media screen and (max-width: 600px)
  .content
    width: 100%
    padding: 0
    .tf-logo
          width: 100%